@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');

main{
    text-align: center;
}

.mode-button{
    font-family: 'Fira Sans';
    text-decoration: none;
    line-height: 35px;
    font-size:20px;
}

.parent-1, .parent-2{
    /* display: inline-block; */
    margin-top: 40px;
}

.parent-1 p, .parent-2 p{
    line-height: 25px;
    font-family: 'Hind Guntur';
    font-size: 0.95rem;
    color:whitesmoke;
}

.parent-1 h2, .parent-2 h2{
    text-decoration: underline;
    color:whitesmoke;
    font-family: 'Fira Sans';
}

label{
    color:whitesmoke;
    font-family: "Hind Guntur";
}
