main {
    text-align: center;
}

.mode-button {
    font-family: 'Fira Sans';
    text-decoration: none;
    line-height: 35px;
    font-size: 20px;
}

.parent-1 {
    float: left;
}

.parent-2 {
    float: right;
}

.parent-1,
.parent-2 {
    margin-top: 40px;
    width: 50%;
}

.parent-1 p,
.parent-2 p {
    line-height: 25px;
    font-family: 'Hind Guntur';
    font-size: 0.95rem;
    color: whitesmoke;
}

.parent-1 h2,
.parent-2 h2 {
    text-decoration: underline;
    color: whitesmoke;
    font-family: 'Fira Sans';
}

label {
    color: whitesmoke;
    font-family: "Hind Guntur";
}

select {
    background-color: unset;
    border: 1px solid #BFDAB9;
    color: white;
}

option {
    background-color: #1a1a24;
}

@media only screen and (min-width: 992px) {

    .parent-1,
    .parent-2 {
        float: none;
        width: 40%;
        display: inline-block;
    }
}
