main{
    margin-right:2.5%;
    margin-left:2.5%;
}

.parent{
    width: fit-content; 
    margin: 0 auto;
    margin-top:10px;
}

p{
    color:whitesmoke;
    text-align: center;
    font-family: "fira sans";
}

/* timer */
.timer-square{
    display:inline-block;
    height:75px;
    width:75px;
    margin-right:10px;
}

.timer-inner-square{
    width:50px;
    height:50px;
    position: relative;
    top:50%;
    margin: 0 auto;
    margin-top: -25px;
}

.timer-text{
    position: absolute;
    width:50px;
    height:50px;
    line-height:50px;
    font-size:24px;
}

/* chances */
.chances-square{
    margin-left:10px;
    height:75px;
    width:75px;
    display:inline-block
}

.chances-inner-square{
    width:50px;
    height:50px;
    position: relative;
    top:50%;
    margin: 0 auto;
    margin-top:-25px;
}

.chances-text{
    position: absolute;
    width:50px;
    height:50px;
    line-height:50px;
}


/* next game */
.next-square{
    margin-left:10px;
    height:75px;
    width:150px;
    display:inline-block;
}

.next-inner-square{
    height:50px;
    width:125px;
    position: relative;
    top:50%;
    margin: 0 auto;
    margin-top:-25px;
}

.next-text{
    position: absolute;
    width:125px;
    height:50px;
    line-height:50px;
}

#next{
    text-align: center;
    text-decoration: none;
    color:whitesmoke;
    font-family: "fira sans";
}


/* word */
.word-square{
    height: max-content;
    width: max-content; 
    margin: 0 auto;
    margin-top:5px;
    text-align: center;
    padding:5px;
}


.word-inner-square{
    display:inline-block;    
    width:20px;
    height:20px;
    margin:2px;
}

.word-text{
    position: absolute;
    width:20px;
    height:20px;
    line-height:20px;
}

.hint-box {
	padding: 10px;
	width: fit-content;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
}

#hint-text{
    font-size: 0.9rem;
}

/* keyboard */
.keyboard-parent{
    width:100%;
    margin-top: 10px;
}

.key-box{
    width:35px;
    height:35px;
    display:inline-block;
    margin:3px;
}

.keys-box{
    padding:2px;
    width:fit-content;
    margin: 0 auto;
    text-align: center;
}

.key-letter{
    height:35px;
    width:35px;
    line-height: 35px;
}

/* other */

.hidden{
    visibility: hidden;
    display: none;
}

.violet-border{
    border: 1px solid violet;
}

.red-border{
    border: 1px solid red;
}

.blue-border{
    border: 1px solid blue;
}

.green-border{
    border: 1px solid green;
}


/* Tablet */
@media only screen and (min-width: 600px) {

}

/* Desktop */
@media only screen and (min-width: 992px) {
    .keys-box{
        width:40%;
        padding:10px;
    }

    #hint-text{
        font-size: 1.2rem;
    }

    .hint-box{
        padding:15px;        
    }

    .word-square{
        padding:10px;
    }

    .word-inner-square{
        width:40px;
        height:40px;
    }

    .word-text{
        width:40px;
        height:40px;
        line-height: 40px;
    }
}

/* Large Desktop */
@media only screen and (min-width: 1200px) {
    .parent{
        margin-top: 35px;
    }

    .word-square, .hint-box,.keyboard-parent{
        margin-top: 25px;
    }
}